.main {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    margin: 15% auto;
    padding: .5rem;
    width: 13%;
}

.calculadora {
    border-color: aliceblue;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: .2rem;
}

#text1 {
    color: aliceblue;
    font-size: 1.2rem;
    width: 95%;
}

.numBtn {
    background-color: #111A16;
    color: aliceblue;
    height: 30px;
    margin: .3rem .2rem;
    width: 30px;
}

.blue {
    background-color: #00B4A4;
}